<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <title>History Notes</title>
</head>
<body>
    <div class="w3-bar w3-theme w3-large">
        <a href="{{url_for('index')}}" class="w3-bar-item w3-padding-16 w3-button w3-mobile w3-theme w3-hover-theme">Home</a>
        <a href="{{url_for('upload')}}" class="w3-bar-item w3-padding-16 w3-button w3-mobile w3-theme w3-hover-theme">Upload</a>
      </div>
    <div class="w3-container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>